*{

    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("./img/tela1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

.title-login h2{
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.form-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 104, 153, 0.5);
    min-width: 30%;   
    min-height: 80%;
    margin-right: 20px;
}

.quad-content input{
    margin: 10px;
    text-align: justify;
    border-radius: 40px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    color: #000000;
}


.card-footer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.card-footer input[type=submit]{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    margin-bottom: 10px;
}
